@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/reset";
@import "susyone";

* {
	@include box-sizing(border-box);
}
html,body{ 
	margin: 0px;
	padding: 0px;

	width: 100%;
	min-width:100%;
    height: 100%;

	background : #fff;
	color:#555;

    overflow: hidden;
   
    

}

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 0em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters


.content {
    @include clearfix;
    position: relative;
    z-index: 100;
    margin: 0 auto;
    height: 100%;
    @include transition(transform 10s ease-out);
    //@include transform(rotateX(45deg) rotateY(45deg)  scale(.8));
    //background: blue;
}


ol {
    height: 680px;
}

.item {

        @include span-columns(1,3);

		//background :red;
       // opacity: 0;
    opacity: 0;
    @include transition(opacity 1s linear);

        .inner {

           // background: #888;
            border : 2px solid #333;
            width: 100%;
            height: 100%;
        }

    @for $i from 1 through 9 {
        .item:nth-child(#{$i}) {
            background-image: url('/assets/pumpatterns' + #{$i} + '.jpg');
            //opacity: 1;
        }
    }


		iframe {
           //opacity: 0;
            //@include transition(opacity 1s linear);

			//display: none;
		}
	}

.item:last-child, .item:nth-child(3), .item:nth-child(6) {
    margin-right: 0px;
}

.item:last-child, .item:nth-child(8), .item:nth-child(7) {
    margin-bottom: 0px;
}
#canvas-three {

    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height: auto;
    //height: 100%;
    z-index: 1;
}
header {
    h1 {
        padding: 20px 0px;
    }
    display: none;

}
#canvas-css {

	@include clearfix;
	position:absolute;
	z-index: 100;
	width: 1600px;
	height: 1200px;
	top: 0px;
	left:0px;
	//background: rgba(black, 0.1);
}

.logo {
	font-family: 'Marcellus SC', serif;
	font-size: 24px;
}

.seed {
	display: block;
	position: absolute;

}

.circle {
	position: absolute;
	width: 108px;
	height: 108px;
	border-radius: 54px;
	border: solid 1px #000;
}

.circle2 {
    position: absolute;
    width: 187px;
    //@include box-shadow(rgba(yellow, 0.7) 0 0 25px);
    height:187px;
    border-radius: 94px;
    border: solid 1px #000;
}
